:root {
    --background: #FFF;
    --foreground: #000;
    --table-cell: #FFF;
    --button-background: #CCC;
    --button-hover: #4F4;
    --svg-grid: #888;
    --svg-stroke: #000;
    --svg-fill: #0000FF;
    --svg-fill-opacity: 0.04;
}
[data-theme="dark"] {
    --background: #000;
    --foreground: #FFF;
    --table-cell: #000;
    --button-background: #333;
    --button-hover: #080;
    --svg-grid: #444;
    --svg-stroke: #FFF;
    --svg-fill: #22AADD;
    --svg-fill-opacity: 0.07;
}
.small {
    font-size: 0.65em;
}
.button-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 4px;
}
.button {
    background: var(--button-background);
    color: var(--foreground);
    cursor: pointer;
    font-size: smaller;
    display: inline-block;
    padding: 4px 8px; /* top and bottom | left and right */
    border-radius: 8px;
    transition: all 0.5s;
}
.button:hover, .button:focus {
    background: var(--button-hover);
}
body {
    font-family: Verdana, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header-row h1 {
    font-size: 1.4em;
    font-weight: normal;
    display: inline;
}
table {
    width: 100%;
    border: 1px solid black;
    background-color: orange;
}
td {
    border: 1px solid black;
    background-color: var(--table-cell);
}
td.half {
    width: 50%;
}
.acedit {
    position: relative;
    height: 300px;
}
svg.expand {
    width: 100%;
    height: 401px;
    display: block;
}