h1{
  display:inline-block;
  font-size:140%;
  margin-right:5px;
}
#version{
  display:inline-block;
  font-size:60%;
}
table {
	width: 100%;
	border: 1px solid black;
	background-color: orange;
}
td {
	border: 1px solid black;
	background-color: white;
}
td.half {
	width: 50%;
}
.acedit {
	position: relative;
	height: 300px;
}
svg.expand {
	width: 100%;
	height: 401px;
	display: block;
}