:root {
    --background: #FFF;
    --foreground: #000;
    --table-cell: #FFF;
    --button-background: #CCC;
    --svg-grid: #888;
    --svg-stroke: #000;
    --svg-fill: #0000FF;
    --svg-fill-opacity: 0.04;
}
[data-theme="dark"] {
    --background: #000;
    --foreground: #FFF;
    --table-cell: #000;
    --button-background: #333;
    --svg-grid: #444;
    --svg-stroke: #FFF;
    --svg-fill: #22AADD;
    --svg-fill-opacity: 0.07;
}
.button {
    background: var(--button-background);
    color: var(--foreground);
    cursor: pointer;
    font-size: smaller;
    display: inline-block;
    padding: 4px 8px; /* top and bottom | left and right */
    margin: 4px;
    border-radius: 8px;
    transition: all 0.5s;
}
.button:hover, .button:focus {
    background: var(--background);
}
body {
    font-family: Verdana, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    /* transition: background-color 0.2s, color 0.2s; */
}
.header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header-row button {
    align-self: center;
    /* height: fit-content; */
}
h1 {
    display: inline-block;
    font-size: 140%;
    font-weight: normal;
    margin-right: 5px;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}
#version {
    display: inline-block;
    font-size: 60%;
}
table {
    width: 100%;
    border: 1px solid black;
    background-color: orange;
}
td {
    border: 1px solid black;
    background-color: var(--table-cell);
}
td.half {
    width: 50%;
}
.acedit {
    position: relative;
    height: 300px;
}
svg.expand {
    width: 100%;
    height: 401px;
    display: block;
}